<% include ../partials/header %>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Pending Orders</a></li>
  <li role="presentation"><a href="/admin/orders/completed">Completed Orders</a></li>
</ul>

<h1>Pending Orders</h1>
<hr>

<table class="table" id="orders">
  <thead class="thead-inverse">
    <tr>
      <th>Name <i class="fa fa-sort" aria-hidden="true"></i></span></th>
      <th>Email <i class="fa fa-sort" aria-hidden="true"></i></span></th>
      <th>Pickup Time <i class="fa fa-sort" aria-hidden="true"></i></span></th>
      <th>Order Price <i class="fa fa-sort" aria-hidden="true"></i></span></th>
      <th>Order Date <i class="fa fa-sort" aria-hidden="true"></i></span></th>
      <th>Details</th>
    </tr>
  </thead>
    <tbody>
      <% orders.forEach(function(order){ %>
              <tr>
              <td><%= order.name %></td>
              <td><%= order.email %></td>
              <td><%= order.pickupTime %></td>
              <td><%= order.orderPrice %></td>
              <td><%= order.time %></td>
              <td><a href="/admin/orders/show/<%= order._id %>"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a></td>
              </tr>
      <% }) %>
    </tbody>

  <tfoot class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Pickup Time</th>
      <th>Order Price</th>
      <th>Order Date</th>
      <th>Details</th>
    </tr>
  </tfoot>

</table>

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascript/admin.js"></script>

<% include ../partials/footer %>