<% include ../partials/header %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Pick up time: <%= order.pickupTime %></h1>
        <hr>
        <div class="panel panel-primary">
        <div class="panel-heading">
        Order for <%= order.name %> (<%= order.email %>)
        <em><span class="pull-right">Order ID: <%= order._id %></span></em>
        </div>
            <div class="panel-body">
                <ul class="list-group">
                    <% order.items.forEach(function(item){ %>
                        <li class="list-group-item">
                            <a href="/items/<%=item.item._id %>"><%= item.item.name %></a> | <%= item.size.name %> | $<%= item.price %> 
                            <span class="pull-right">Qty <%= item.qty %></span>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="panel-footer">
            Total: $<%= order.cart.totalPrice %>
            <em><span class="pull-right"><a href="/admin/orders/<%= order._id %>">Mark as complete</a></span></em>
            </div>
        </div>
        <a href="/admin/orders/pending"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>Return to pending orders</a>
    </div>
</div>

<% include ../partials/footer %>