<% include ../partials/header %>

<div class"container-fluid jumbotron">
    <div class="row">
        <div class="col-md-8">
            <div class="row flex-row">
                <% if(products) { %>
                <% products.forEach(function(item) { %>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-block clearfix">
                                <img class="card-img-top" src="<%= item.item.image %>" alt="Card image cap">
                                <div class="nobord">
                                    <h3 class="card-title text-center"><%= item.item.name %></h3>
                                    <!-- <p class="card-text"><%= item.item.description %></p> -->
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Size :
                                            <span class="pull-right">
                                                <%= item.size.name %>
                                            </span>
                                        </li>
                                        <li class="list-group-item">Price Per Unit :
                                            <span class="pull-right">
                                                $<%= item.size.price %>
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            Quantity :
                                            <span class="pull-right">
                                                <a href="/cart/reduce/<%= item.findById %>"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                                                <%= item.qty %>
                                                <a href="/cart/increment/<%= item.findById %>"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                                             </span>
                                        </li>
                                    </ul>
                                    <div class="card-block">
                                        <a href="/cart/remove/<%= item.findById %>" class="card-link">Remove</a>
                                        <a href="#" class="card-link pull-right">Update</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
                <% } %>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-cart">
                <div class="card card-cart text-center">
                    <div class="card-header">
                        <h3>Cart</h3>
                    </div>
                    <% if(session.cart){ %>
                        <div class="card-block">
                            <h4 class="card-title">Subtotal, <%= session.cart.totalQty %> item(s): $<%= totalPrice %></h4>
                            <a href="/checkout" class="btn btn-primary btn-block">Checkout</a>
                        </div>
                    <% } else { %>
                        <div class="card-block">
                            <h4 class="card-title">Subtotal, 0 item(s): $0</h4>
                            <a href="/checkout" class="btn btn-primary btn-block">Checkout</a>
                        </div>
                    <% } %>
                    <div class="card-footer text-muted">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>